<!DOCTYPE html>
<html lang="en">

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Personal Portfolio Template">
    <meta name="keywords" content="wordpressboss, resume, cv, portfolio, personal, developer, Creato,personal resume, onepage, clean, modern">
    <meta name="author" content="Tanvir Rahman Hridoy">
    <!-- PAGE TITLE -->
    <title>Richard Lorenzini Portfolio</title>
    <!-- BOOTSTRAP CSS -->
    <link rel="stylesheet" href="../public/bootstrap/css/bootstrap.min.css">
    <!-- ALL GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Montserrat:300,400,500,600,700,800,900&subset=latin-ext" rel="stylesheet">
    <!-- FONT AWESOME CSS -->
    <link rel="stylesheet" href="../public/fonts/font-awesome.min.css">
    <!-- OWL CAROSEL CSS -->
    <link rel="stylesheet" href="../public/owlcarousel/css/owl.carousel.css">
    <link rel="stylesheet" href="../public/owlcarousel/css/owl.theme.css">
    <!-- MAGNIFIC CSS -->
    <link rel="stylesheet" href="../public/css/magnific-popup.css">
    <!-- ANIMATE CSS -->
    <link rel="stylesheet" href="../public/css/animate.min.css">
    <link rel="stylesheet" href="../public/css/effects.css">
    <link rel="stylesheet" href="../public/css/YTPlayer.css">
    <!-- MAIN STYLE CSS -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- RESPONSIVE CSS -->
    <link rel="stylesheet" href="../public/css/responsive.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="status">
            <div class="status-mes"></div>
        </div>
    </div>
    <!-- / END PRELOADER -->

    <!-- START HOMEPAGE DESIGN AREA -->
    <header id="home" class="welcome-area">
        <div class="header-top-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <!-- START LOGO DESIGN AREA -->
                        <div class="logo">
                            <a href="/home">Richard Lorenzini</a>
                        </div>
                        <!-- END LOGO DESIGN AREA -->
                    </div>
                    <div class="col-sm-9">
                        <!-- START MENU DESIGN AREA -->
                        <div class="mainmenu">
                            <div class="navbar navbar-nobg">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="navbar-collapse collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active"><a class="smoth-scroll" href="#home">Home <div class="ripple-wrapper"></div></a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#about">About</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#service">service</a>
                                        </li>
                                        <li><a class="smoth-scroll" href="#work">Work</a>
                                        </li>
                                        <!-- <li><a class="smoth-scroll" href="#testimonial">testimonial</a>
                                        </li> -->
                                        <li><a class="smoth-scroll" href="#contact">Contact</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END MENU DESIGN AREA -->
                    </div>
                </div>
            </div>
        </div>
        <div class="welcome-image-area" data-stellar-background-ratio="0.6">
            <div class="display-table">
                <div class="display-table-cell">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header-text text-center">

                                    <h1 class="typewrite" data-period="2000" data-type='[ " Software Developer","Web Designer", "Full Stack Developer" ]'>
                                        <span class="wrap"></span>
                                    </h1>
                                    <div class="social-links header-links">
                                        <ul>
                                            <li><a href="https://www.linkedin.com/in/richard-lorenzini-73a87b17b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="https://github.com/rlorenzini" target="_blank"><i class="fa fa-github" ></i></a></li>
                                            <li><a href="mailto:%20richardlorenzini1@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a></li>
                                            <li><a href="tel: 404-567-3473" ><i class="fa fa-phone" ></i></a></li>
                                            <li><a href="https://docs.google.com/document/d/1dQDvyFOo03t0fpDvABxkbI9HJfhfNFRqMWB7SYcGN00/edit?usp=sharing" target="_blank"><i class="fa fa-file"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="home-arrow-down">
                                        <a href="#about" class="smoth-scroll btn"><i class="fa fa-angle-down"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- / END HOMEPAGE DESIGN AREA -->


    <!-- START ABOUT DESIGN AREA -->
    <section id="about" class="about-me-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>about Richard Lorenzini</h2>
                    </div>
                </div>
            </div>
            <div class="row wow fadeInUp" data-wow-delay="0.4s">
                <div class="col-md-10 col-md-offset-1">
                    <!-- START ABOUT TEXT AREA -->
                    <div class="about-text">
                        <p>At a young age, I always enjoyed electronics. In high school, I started building my own computers and using multiple operating systems. After repairing computers and teaching individuals about emerging technologies, I transitioned to software development. I love the ever-evolving nature of coding, along with the challenge each project has.</p>

                        <p>In my free time, I enjoy video games, exercising, and spending time with my friends and family. I also enjoy learning history and teaching multiple subjects.</p>
                        <ul>
                            <li><a href="mailto:%20richardlorenzini1@gmail.com" target="_blank"><i class="fa fa-envelope-open"></i>richardlorenzini1@gmail.com</a></li>
                            <li><a href="tel: 404-567-3473"><i class="fa fa-mobile"></i>404-567-3473</a></li>

                            <li><a href="https://docs.google.com/document/d/1dQDvyFOo03t0fpDvABxkbI9HJfhfNFRqMWB7SYcGN00/edit?usp=sharing" target ="_blank"><i class="fa fa-globe"></i>Resume</a></li>
                        </ul>
                    </div>
                    <!-- / END ABOUT TEXT AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END ABOUT DESIGN AREA -->


    <!-- START SERVICES DESIGN AREA -->
    <section id="service" class="service-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>services</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.2s">
                        <i class="fa fa-database"></i>
                        <h2>Full Stack Developer</h2>
                        <p>I have a comprehensive understanding of the front and back end of projects using many different languages. I really enjoy working with and learning about both sides of the application. </p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.4s">
                        <i class="fa fa-laptop"></i>
                        <h2>Web design</h2>
                        <p>Using a variety of programming languages, I can design and then build the custom website that is perfect for you or your company.</p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
                <!-- START SINGLE SERVICE DESIGN AREA -->
                <div class="col-md-4 col-sm-6">
                    <div class="single-service wow fadeInUp" data-wow-delay="0.6s">
                        <i class="fa fa-tablet"></i>
                        <h2>Software Developer</h2>
                        <p>I enjoy taking my knowledge of web development and learning new and cutting edge skills that applies to computer software or phone apps. </p>
                    </div>
                </div>
                <!-- / END SINGLE SERVICE DESIGN AREA -->
            </div>
        </div>
    </section>
    <!-- / END SERVICES DESIGN AREA -->


    <!-- START WORK DESIGN AREA -->
    <section id="work" class="work">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>featured works.</h2>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <ul class="work">
                    <li class="filter" data-filter="all">all</li>
                    <li class="filter" data-filter=".webdesign">webdesign</li>
                    <li class="filter" data-filter=".development">development</li>
                    <li class="filter" data-filter=".photography">photography</li>
                </ul>
            </div> -->
            <div class="work-inner">
                <div class="row work-posts grid">
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-4 mix development webdesign">
                        <div class="item">
                            <a href="../public/images/richardsPhotos/allmarkers.png" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="../public/images/richardsPhotos/allmarkers.png" alt="image">
                                    <figcaption>
                                        <h2><i class="fa fa-arrows"></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <div class="portfolioitem-caption">
                                <h3 style="margin-bottom:0px;">OnTheMark</h3>
                                <div class='michaelFlexbox'>
                                  <a class='michaelAnchor'href="https://agile-mesa-12521.herokuapp.com/home" target="_blank">View Website!</a>
                                  <a class='michaelAnchor'href="https://github.com/rlorenzini/OnTheMark2" target="_blank">View Github!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <div class="col-md-4 col-sm-4 mix development webdesign">
                        <div class="item">
                            <a href="../public/images/richardsPhotos/mainpagemobile.png" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="../public/images/richardsPhotos/mainpagemobile.png" alt="image">
                                    <figcaption>
                                        <h2><i class="fa fa-arrows"></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <div class="portfolioitem-caption">
                                <h3 style="margin-bottom:0px;">ProjectSTAR</h3>
                                <div class='michaelFlexbox'>
                                  <a class='michaelAnchor'href="https://github.com/rlorenzini/ProjectSTAR" target="_blank">View Github!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END SINGLE WORK DESIGN AREA -->

                    <!-- START SINGLE WORK DESIGN AREA -->

                    <!-- END SINGLE WORK DESIGN AREA -->
                    <!-- START SINGLE WORK DESIGN AREA -->
                    <!-- <div class="col-md-4 col-sm-6 mix photography">
                        <div class="item">
                            <a href="../public/images/work/6.jpg" class="work-popup">
                                <figure class="effect-ruby">
                                    <img src="../public/images/work/6.jpg" alt="image">
                                    <figcaption>
                                        <h2><i class="fa fa-arrows"></i></h2>
                                    </figcaption>
                                </figure>
                            </a>
                            <div class="portfolioitem-caption">
                                <h3>mockup design <span>project six</span></h3>
                            </div>
                        </div>
                    </div> -->
                    <!-- END SINGLE WORK DESIGN AREA -->
                </div>
            </div>
        </div>
    </section>
    <!-- / END START WORK DESIGN AREA -->


    <!-- START TESTIMONIAL DESIGN AREA -->
    <!-- <section id="testimonial" class="testimonial-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="section-title">
                        <h2>testimonials!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="testimonial-list">

                        <div class="single-testimonial text-center">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum.</p>
                            <h2>mark jukarbarg</h2>
                            <h3>CEO facebook</h3>
                        </div>

                        <div class="single-testimonial text-center">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum.</p>
                            <h2>mark jukarbarg</h2>
                            <h3>CEO facebook</h3>
                        </div>

                        <div class="single-testimonial text-center">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s Lorem Ipsum.</p>
                            <h2>mark jukarbarg</h2>
                            <h3>CEO facebook</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- / END TESTIMONIAL DESIGN AREA -->



    <!-- START CONTACT DESIGN AREA -->
    <section id="contact" class="contact-me-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h2>contact me!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <form id="contactForm" class="contact-form" action="/ContactForm" method="post">
                        <div class="row">
                            <div class="col-md-6 form-group wow fadeInUp" data-wow-delay="0.2s">
                                <input id="name" class="form-control" type="text" name="name" placeholder="Name" required>
                            </div>
                            <div class="col-md-6 form-group wow fadeInUp" data-wow-delay="0.3s">
                                <input id="email" class="form-control" type="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="col-md-12 form-group wow fadeInUp" data-wow-delay="0.4s">
                                <input id="subject" class="form-control" type="text" name="subject" placeholder="Subject" required>
                            </div>
                            <div class="col-md-12 form-group wow fadeInUp" data-wow-delay="0.5s">
                                <textarea id="message" class="form-control" placeholder="Message" rows="4" required></textarea>
                            </div>
                            <div class="col-md-12 text-center wow fadeInUp" data-wow-delay="0.6s">
                                <button class="btn" type="submit">Submit Now</button>
                            </div>
                            <div class="col-md-12 text-center">
                                <p class="input-success">We have received your mail, We will get back to you soon!</p>
                                <p class="input-error">Sorry, Message could not send! Please try again.</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- / END CONTACT DESIGN AREA -->

    <!-- START FOOTER DESIGN AREA -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mail-me text-center">
                        <a href="mailto:richardlorenzini1@gmail.com">richardlorenzini1@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="row margin-top-footer">
                <div class="col-sm-6">
                    <div class="social-links wow fadeInUp" data-wow-delay="0.2s">
                      <ul>
                          <li><a href="https://www.linkedin.com/in/richard-lorenzini-73a87b17b/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                          <li><a href="https://github.com/rlorenzini" target="_blank"><i class="fa fa-github" ></i></a></li>
                          <li><a href="mailto:%20richardlorenzini1@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a></li>
                          <li><a href="tel: 404-567-3473" ><i class="fa fa-phone" ></i></a></li>
                          <li><a href="https://docs.google.com/document/d/1dQDvyFOo03t0fpDvABxkbI9HJfhfNFRqMWB7SYcGN00/edit?usp=sharing" target="_blank"><i class="fa fa-file"></i></a></li>
                      </ul>
                    </div>
                </div>
                <div class="col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
                    <!-- <p>&copy;Copyright 2017 Creato | All RightReserved.</p> -->
                </div>
            </div>
        </div>
    </footer>
    <!-- / END FOOTER DESIGN AREA -->

    <!-- LATEST JQUERY -->
    <script src="../public/js/jquery.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="../public/bootstrap/js/bootstrap.min.js"></script>
    <!-- OWL CAROUSEL JS  -->
    <script src="../public/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- MIXITUP JS -->
    <script src="../public/js/jquery.mixitup.js"></script>
    <!-- PARALLAX JS -->
    <script src="../public/js/jquery.stellar.min.js"></script>
    <!-- MAGNIFICANT JS -->
    <script src="../public/js/jquery.magnific-popup.min.js"></script>
    <script src="../public/js/jquery.mb.YTPlayer.min.js"></script>
    <!-- WOW JS -->
    <script src="../public/js/wow.min.js"></script>
    <!-- SCRIPT JS -->
    <script src="../public/js/scripts.js"></script>
</body>

</html>
